<template>
  <div>
    <div class="main-3">
      <div class="container pt-4">
        <div class="row">
          <div class="col-4">
            <button
              type="button"
              class="btn btn-success"
              v-on:click="$bModal.show('add-modal')"
            >
              &nbsp;Add Books&nbsp;
            </button>
          </div>
          <div class="col-4 offset-md-4">
            <div class="d-flex justify-content-end pr-1">
              <input
                type="text"
                class="form-control custom-form"
                id="search"
                placeholder="Search"
              />
              <img
                src="@/assets/img/ser.png"
                height="25"
                class="mt-2 mr-2 position-absolute invert"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row justify-content-end mr-1 mb-3"></div>

            <div class="card p-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Actions</th>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Copies <br />Available</th>
                      <th scope="col">Category</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(b, i) in Books" :key="i">
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{ book.category.category }}</td>
                      <td>
                        <a type="button"
                          v-on:click="bModal.show('editModal'); id = i; data = {...book}"
                        >
                        <img
                          src="@/assets/img/edit.png"
                          class="mr-2 cursor-pointer"
                          height="20"
                        /></a>
                        <a
                          type="button"
                          @click.prevent="$bModal.show('deletemodal'); id = book.id;"
                          ><img
                            src="@/assets/img/delete.png"
                            class="mr-2"
                            height="20" /></a
                        >
                        <a type="button" v-on:click="book_data.book_id = book.id; id = i; $bModal.show('borrowModal');">
                        <img
                          src="@/assets/img/row.png"
                          class="cursor-pointer mr-2"
                          height="20"
                        />
                        </a>
                        <a type="button" v-on:click="book_data.book_id = book.id; id = i; $bModal.show('returnModal');">
                        <img
                          src="@/assets/img/turn.jpg"
                          class="cursor-pointer"
                          height="20"
                        />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="add-modal" hide-footer>
      <template #modal-title>
        <div>
          <h5 class="modal-title">Add Book</h5>
        </div>
      </template>
      <div>
        <div>
          <div class="modal-body pl-5 pr-5">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="name"
                  placeholder=""
                  v-model="data.name"
                />
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input
                  type="email"
                  class="form-control"
                  id="author"
                  placeholder=""
                   v-model="data.author"
                />
              </div>
              <div class="form-group">
                <label for="copies">Copies</label>
                <input
                  type="email"
                  class="form-control"
                  id="copies"
                  placeholder=""
                  v-model="data.copies"
                />
              </div>
              <div class="form-group">
                <label for="customSelect">Category</label>
                <select id="customSelect"  v-model="data.category" name="cars" class="custom-select">
                  <option selected>Please select a category</option>
                  <option value="Fiction">Fiction</option>
                  <option value="Horror">Horror</option>
                  <option value="Novel">Novel</option>
                  <option value="Biography">Biography</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button" class="btn btn-sm btn-success"
              @click.prevent="saveBook"
            >
              Add Book
            </button>
          </div>
        </div>
      </div>
    </b-modal>
 <!---Update Book--->
    <b-modal id="update-modal" hide-footer>
      <template #modal-title>
        <div>
          <h5 class="modal-title">Update Book</h5>
        </div>
      </template>
      <div>
        <div>
          <div class="modal-body pl-5 pr-5">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="name"
                  placeholder=""
                  v-model="updatedata.name"
                />
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input
                  type="email"
                  class="form-control"
                  id="author"
                  placeholder=""
                  v-model="updatedata.author"
                />
              </div>
              <div class="form-group">
                <label for="copies">Copies</label>
                <input
                  type="email"
                  class="form-control"
                  id="copies"
                  placeholder=""
                  v-model="updatedata.copies"
                />
              </div>
              <div class="form-group">
                <label for="customSelect">Category</label>
                <select id="customSelect" v-model="updatedata.category" name="category" class="custom-select">
                  <option selected disabled>Please select a category</option>
                  <option value="Fiction">Fiction</option>
                  <option value="Horror">Horror</option>
                  <option value="Novel">Novel</option>
                  <option value="Biography">Biography</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button" class="btn btn-sm btn-success"
              @click.prevent="updateBook"
            >
              Update Book
            </button>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal center id="delete-modal" centered hide-footer >
      <template #modal-title>
        <div>
           <h5>Confirm Delete</h5>
        </div>   
           </template>
      <div>
        <div>
          <div class="d-flex justify-content-between">
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              @click="$bvModal.hide('delete-modal')"
              class="btn btn-sm btn-secondary"
             
            >
              Cancel
            </button>
            <button type="button" @click="deleteBook" class="btn btn-sm btn-danger">Yes</button>
          </div>
        </div>
      </div>
    
    </b-modal>

    
  </div>
</template>

<script>
import {mapActions, mapGetters,} from "vuex";
import toastr from "toastr";

export default {
 data(){
   return {
     book: {
       id: 0,
       name: "",
       author: "",
       copies: 0,
       category_id: 0,
       category: {
         id: 0,
         category: "",
       },
     },
     BorrowedBook: {
       patron_id: 0,
       copies: 0,
       book_id: 0,
     },
     ReturnedBook: {
       book_id: 0,
       copies: 0,
       patron_id: 0,
     },
     PatronList: [],
     SelectedPatron: "",
     Search: "",
   };
 },
 computed: {
   ...mapGetters({
     books: "books/getBooks",
     borrowedbooks: "borrowed/getBorrowedBooks",
     categories: "categories/getCategories",
     patrons: "patrons/getPatrons"
   }),
   filteredBooks(){
     return this.books.filter((book) => {
       return (
         book.name.match(this.Search) ||
         book.author.match(this.Search) ||
         book.category.category.match(this.Search)
       );
     });
   },
 },
 methods: {
   ...mapActions("books",
   {
     allBooks: "fetchBooks",
     create: "createBook",
     update: "updateBook",
     delete: "deleteBook",
   }),
   ...mapActions("borrowed", 
   {
     allBorrowed: "fetchBorrowedBooks",
     borrowed: "borrowedBook",
   }),
   ...mapActions({
     allCategories: "categories/fetchCategories",
   allPatrons: "patrons/fetchPatrons",
   returned: "returned/returnedBook",
   }),

   hideCreate(){
     this.clearFields();
     this.$bModal.hide("add-book");
   },

   createBook(){
     var book = 
     {
       name: this.book.name,
       author: this.book.author,
       copies: this.book.copies,
       category_id: this.book.category_id,
     };
     this.create(book);
     this.hideCreate();
   },
   showUpdate(book) {
     this.$bModal.show("updatebook");

     var updateBook = 
     {
       id: book.id,
       name: book.name,
       author: book.author,
       copies: book.copies,
       category_id: book.category_id,
       category:
       {
         id: book.category.id,
         category: book.category.category,
       },
     };
     this.book = { ...updateBook };
   },

   hideUpdate()
   {
     this.clearFields();
     this.$bModal.hide("updatebook");
   },

   updateBook(){

     var book = {
       id: this.book.id,
       name: this.book.name,
       author: this.book.author,
       copies: this.book.copies,
       category_id: this.book.category_id,
     };
     this.update(book);
     this.hideUpdate();
   },

   showDelete(id)
   {
     this.book.id = id;
     this.$bModal.hide("deletebook");
   },

   hideDelete()
   {
     this.clearFields();
     this.$bModal.hide("deletebook");
   },
  deleteBook()
  {
    this.delete(this.book.id);
    this.hideDelete();
  },
  
  showBorrowed(book_Id)
  {
    this.BorrowedBook.book_id = book_Id;
    var patrons = this.patrons;

    patrons.forEach((patron) => {
      this.PatronList.push({
        label: '${patron.lname}, ${patron.fname} ${patron.mname}',
        id: patron.id,
      });
    });
    this.$bModal.show("borrowedbook");
  },
  hideBorrow(){
    this.clearFields();
    this.$bModal.hide("borrowedbook");
  },
  borrowedBook(borrow) {
    if (this.SelectedPatron == "") {
      toastr.error("Select a patron", "Failed");
    } else {
      this.BorrowedBook = {
        patron_id: this.SelectedPatron.id,
        copies: borrow.copies,
        book_id: borrow.book_id,
      };
      this.borrow(this.BorrowedBook);
      this.hideBorrow();
    }
  },

  showReturn(book_Id) {

    this.BorrowedBook.book_id = book_Id;
    var borrowedBooks = this.borrowedBooks;

    borrowedBooks.forEach((borrowed) => {
      if (this.BorrowedBook.book_id == borrowed.book_id) {
        this.PatronList.push({
        label: '${borrowed.patron.lname}, ${borrowed.patron.fname} ${borrowed.patron.mname}',
        id: borrowed.patron_id,
      
    });
  }
});

this.$bModal.show("returnedbook");
},
hideReturn(){
  this.clearFields();
  this.$bModal.hide("returnedbook");
},

returnBook(borrow){
  if (this.SelectedPatron == "") {
    toastr.error("Select a patron", "Failed");
  } else {
    this.BorrowedBook = {
      patron_id: this.SelectedPatron.id,
      copies: borrow.copies,
      book_id: borrow.book_id,
    };

    this.returned(this.BorrowedBook);
    this.hideReturn();
  }
},

clearFields()
{
  this.book = {
    id: 0,
    name: "",
    author: "",
    copies: 0,
    category_id: 0,
    category: {
      id: 0,
      category: "",

    },
  };

  this.BorrowedBook = 
  {
    patron_id: 0,
    copies: 0,
    book_id: 0,
  };
  
  this.PatronList = [];
  this.SelectedPatron = "";
},
 },
 created(){
   this.allBooks();
   this.allBorrowed();
   this.allCategories();
   this.allPatrons();
 },
 mounted(){
   document.title = "Library System | Book Management";
 },
};
</script>