<template>
  <div>
    <div class="main">
      <div class="container pt-1">
        <div class="row mt-1">
          <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <h6 class="text-muted">Borrowed and returned books</h6>
            <canvas id="barChart" width="280" height="200"></canvas>
          </div>
          <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <h6 class="text-muted">Popular book genre</h6>
            <canvas id="pieChart" width="280" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Chart from "chart.js";

export default {
  mounted() {
    var ctx = document.getElementById("barChart").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE"],
        datasets: [
          {
            label: "Borrowed Books",
            data: [7, 10, 9, 12, 13, 6],
            backgroundColor: "rgb(0, 0, 255)",
          },
          {
            label: "Returned Books",
            data: [4, 7, 10, 11, 8, 8],
            backgroundColor: "rgba(255, 99, 71, .8)",
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });

    var pie = document.getElementById("pieChart").getContext("2d");
    new Chart(pie, {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [10, 20, 30, 20],
            backgroundColor: [
              "rgb(255, 99, 71, .8)",
              "rgb(128, 128, 128)",
              "rgb(255, 255, 0)",
              "rgba(27, 64, 230, .8)",
            ],
          },
        ],

        labels: ["Fiction", "Biography", "Novel", "Horror"],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  },
};
</script>