<template>
  <div>
    <div class="main-2">
      <div class="container pt-4">
        <div class="row">
          <div class="col-4">
            <button
              type="button"
              class="btn btn-success"
              v-on:click="$bvModal.show('add-modal')"
            >
              &nbsp;Add Patrons&nbsp;
            </button>
          </div>

          <div class="col-4 offset-md-4">
            <div class="d-flex justify-content-end pr-1">
              <input
                type="text"
                class="form-control custom-form"
                id="search"
                placeholder="Search"
              />
              <img
                src="@/assets/img/ser.png"
                height="25"
                class="mt-2 mr-2 position-absolute invert"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row justify-content-end mr-1 mb-3"></div>

            <div class="card p-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Actions</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col">Date Registered</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(p, i) in Patrons" :key="i">
                      <td>
                        {{
                          patron.fname + "" + patron.mname + "" + patron.lname
                        }}
                      </td>
                      <td>
                        {{patron.email}}
                      </td>
                      <td>
                        {{patron.created_at}}
                      </td>

                      <td>
                        <a
                          type="button"
                          v-on:click="$bModal.show('updateModal'); index = i; input = {...patrons}">
                          
                        <img
                          src="@/assets/img/edit.png"
                          class="mr-2"
                          height="25"
                        /></a>
                        <a
                          type="button"
                          v-on:click="deleteIndex = index; $bvModal.show('deletemodal'); index = patron.id"
                          ><img
                            src="@/assets/img/delete.png"
                            class="mr-2"
                            height="25"
                        /></a>
                      </td>
                
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addmodal" hide-footer>
      <template #modal-title>
        <div>
          <h5>Add Patron</h5>
        </div>
      </template>
      <div>
        <div>
          <div class="modal-body pl-5 pr-5">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.fname"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Middle Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.mname"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.lname"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.email"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-success" v-on:click="savePatron"> 
              Add patron
            </button>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal id="update-modal" hide-footer>
      <template #modal-title>
        <div>
          <h5>Update Patron</h5>
        </div>
      </template>
      <div>
        <div>
          <div class="modal-body pl-5 pr-5">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.fname"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Middle Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.mname"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.lname"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=""
                  v-model="input.email"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-success" v-on:click="updatePatron"> 
              Update patron
            </button>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal id="deletemodal" centered hide-footer>
      <template #modal-title>
        <div>
          <h5>Confirm Delete</h5>
        </div>
      </template>
      <div>
        <div>
          <div>
            <div class="d-flex justify-content-between"></div>
            <div class="modal-body">
              <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                @click="cancel()"
                class="btn btn-sm btn-secondary"
              > Cancel
              </button>
              <button
                type="button"
                v-on:click="deletePatron()"
                class="btn btn-sm btn-danger"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import { toast } from "@/assets/js/toast";
export default {
  mixins: [toast],
  mounted(){
    document.title = "Patron Management";
    this.$root.$on('b::modal::hide', () => {
      this.clearFields();
    })
    this.$root.$on('b::modal::show', (bEvent, modalId) => { this.modalId = modalId;})
    this.getPatrons();
    this.getPatronData();
  },
  computed: { ...mapState('patrons', ['patrons'])},
  data(){
    return {
      input:
        {
          fname: '',
          mname: '',
          lname: '',
          email: '',
          
        },
       modalId:'',
       index:"",
    };
    },
      
  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),
    async savePatron(){
      const res = await this.storePatron(this.input)
      res.status == 200 ? this.showSuccess('Patron save successfuly') : this.showError(res.data)
    },

    async patronDelete(){
      const res = await this.deletePatron(this.index);
      if (res.status !==200) this.showError(res.data)
      this.$bModal.hide('deleteModal');
    },

    async patronUpdate(){
      const res = await this.updatePatron({data: {...this.input}, index: this.index})
      res.status == 200 ? this.showSuccess('Patron updated successfully') : this.showError(res.data)
    },

    showSuccess(message){
      this.$bModal.hide(this.modalId);
      this.showSuccess(message);
    },

    clearFields(){
      this.input.fname = "";
      this.input.mname = "";
      this.input.lname = "";
      this.input.email = "";
    },

    showError(data){
      for (const key of Object.keys(data)){
        this.showError(data[key]);
      }
    }

  },
};
</script>
