<template>
  <div id="app">
      <Navbar/>
      <Sidenav/>
      <router-view/>
  </div>
</template>
<script>
import Navbar from "./components/navigation/Navbar"
import Sidenav from "./components/navigation/Sidenav"
export default {
    components:{
        Navbar,
        Sidenav
    }

}
</script>
<style>

</style>
