<template>
  <div class="nav">
  <h5 class="mt-2">Library System | Dashboard</h5>
      <div class="mcm">
        <img src="../../assets/img/mini.png" height="30" >
         <img src="../../assets/img/max.png" height="25" >
          <img src="../../assets/img/close.png" height="30"><br/>
           <a href="" class="mr-2 pt-2 link-logout">Logout</a>
      </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
@import "../../assets/css/style.css";
</style>