<template>
  <div>
    <div class="logo">
      <img src="@/assets/img/logo.png" height="60" />
    </div>
    <div class="sidenav">
      <router-link to="/">
        <a href="index.html" class="">
          <div
            class="element-container"
            :class="routeName == 'Dashboard' ? 'active' : ''"
          >
            <div class="element">
              <img
                src="@/assets/img/dash.png"
                height="25"
                class="ml-4 mt-1 position-absolute"
              />
              <p class="ml-6 mt-1 option" href="">Dashboard</p>
            </div>
          </div>
        </a>
      </router-link>
      <router-link to="/patron">
        <a
          href="patron.html"
          :class="routeName == 'Patron Management' ? 'active' : ''"
        >
          <div class="element-container">
            <div class="element">
              <img
                src="@/assets/img/patron.png"
                height="25"
                class="ml-4 mt-2 position-absolute"
              />
              <p class="ml-6 option" href="">Patron Management</p>
            </div>
          </div>
        </a>
      </router-link>
      <router-link to="/book">
        <a
          href="book.html"
          :class="routeName == 'Books Management' ? 'active' : ''"
        >
          <div class="element-container">
            <div class="element">
              <img
                src="@/assets/img/book.png"
                height="25"
                class="ml-4 mt-2 position-absolute"
              />
              <p class="ml-6 option" href="">Books Management</p>
            </div>
          </div>
        </a>
      </router-link>
      <router-link to="/settings"  :class="routeName == 'Settings' ? 'active' : ''">
        <a
          href="settings.html"
        >
          <div class="element-container">
            <div class="element">
              <img
                src="@/assets/img/set.png"
                height="25"
                class="ml-4 mt-2 position-absolute"
              />
              <p class="ml-6 mt-2 option" href="">Settings</p>
            </div>
          </div>
        </a>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: "",
    };
  },
  mounted() {
    
  },
  computed: {
    routeName: function(){
      return this.$route.name
    }
  }
};
</script>
