html {
  height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
body{
  line-height: 1.4rem !important;
	background: #f3f5f9; 
  margin: 0;
}
/* Style the sidebar - fixed full height */

a:hover {
  text-decoration: none;
}

.link-custom {
  color: #3498DB;
}


.sidenav {
  height: 82%;
  width: 220px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: #008000;
  overflow-x: hidden;
  transition: all 400ms;
  margin-top: 7rem;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000000;
  display: block;
  font-family:'Josefin Sans', sans-serif;
  transition: 0.3s ;

}


.sidenav a:hover{
  background-color: lime;
 }

.nav-container {
    margin-left: 125px;
  }

.element-container {
  width: 100%;
  height: 62px;
  position: relative;
  margin-top: 1rem;
  
}
.active-management {
  position: relative;
  height: 100px;
  background: rgba(196, 196, 196, 0.7);
}
.elem {
  position: absolute;
  margin-top: 10%;
  margin-left: 0%;
  position: relative;
}
.element {
  position: absolute;
  margin-top: 7%;
  margin-left: 0%;
}

.nav {
  width: 100%;
  background:lime;
  height: 3rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.mr-negative {
  margin-top: -6.4px;
}

.main {
  margin-left: 245px;
  padding: 0px 10px;

  
}
.main-2 {
  margin-left: 250px;
  padding: 0px 10px;

  
 
}
.main-3 {
  margin-left: 250px;
  padding: 0px 10px;
 
  }
.main-4 {
  margin-left: 150px;
  padding: 0px 10px;
 
  }
.ml-6 {
  margin-left: 4rem;
}
.ml-5{
  margin-left: 3rem;
}

.link-custom {
  color: #000000;
  }
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
}
.mcm{
    top: 0;
    margin-left: 62.4rem;
    margin-top: 0.5rem;
}
.mcm-2{
    margin-top: 0.5rem;
    margin-left: 57.2rem;

}
.mcm-3{
    margin-top: 0.5rem;
   margin-left: 58rem;
}
.mcm-4{
    margin-top: 0.5rem;
    margin-left: 64rem;
}
.logo{
  margin: 3.1rem;
  margin-right: 10rem;
  text-align: left;
    
}
.logo-4{
  margin: 3.1rem;
  margin-right: 10rem;
  text-align: left;
}
.link-logout
{
  margin-right: 2rem;
  color: #00cc00;
  margin-top: 10rem;
  line-height: 90px;
  font-size: 22px;
}
  
h5{
  margin-left: 1rem;
  margin-top: 0.7rem;
  left: 0;
  top: 0;
}

.modal-header{
    background: lime;
}
.row{
  margin-top: -50px;
  margin-bottom: 50px;
}
.btn-success{
  color: black;
}




